.girar {
    animation: girar 3s linear infinite;
}

@keyframes girar {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.palpitar {
    animation: palpitar1 2s infinite; 
}

@keyframes palpitar1 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

/* ----------------------------------------- */

#tr-tabla-guardado:hover {
    #btn-eliminar-guardado {
        animation: girar 3s linear infinite;
    }
}